script#bodyTemplate(type="text/template")
    tr.add-param
      td Тип товара&nbsp
      td
        select#product-tip
          option(value="body-body") Уход за телом
          option(value="body-hend") Уход за руками
          option(value="body-footer") Уход за ногами
          option(value="body-stroin") Для стройного силуэта
          option(value="body-epil") Эпиляция и депиляция
          option(value="body-vonuchka") Парфюм. и дезодор. сред-ва
          option(value="body-solnce") Солнцезащитные средства
    tr#body-body.add-param.podtip
      td Подтип
      td
        select
          option(value="body-body1") Для ванны и душа
          option(value="body-body2") Лосьены, кремы и бальзамы
          option(value="body-body3") Спрее 
          option(value="body-body4") Масла
          option(value="body-body5") Массажные средства
          option(value="body-body6") Скрабы
    
    tr#body-hend.add-param.podtip
      td Подтип
      td
        select
          option(value="body-hend1") Кремы и лосьоны
          option(value="body-hend2") Маски и скрабы
          option(value="body-hend3") Уход за ногтями
    
    tr#body-footer.add-param.podtip
      td Подтип
      td
        select
          option(value="body-footer1") Скрабы и пилинги
          option(value="body-footer2") СМаски и патчи
          option(value="body-footer3") Лосьоны, кремы, спреи
          option(value="body-footer4") Дезодорирующие средства
    
    
    tr#body-stroin.add-param.podtip
      td Подтип
      td
        select
          option(value="body-stroin1") Гели, кремы и скрабы
          option(value="body-stroin2") Маски и патчи
    
    tr#body-epil.add-param.podtip
      td Подтип
      td
        select
          option(value="")
    
    tr#body-vonuchka.add-param.podtip
      td Подтип
      td
        select
          option(value="")
    
    tr#body-solnce.add-param.podtip
      td Подтип
      td
        select
          option(value="")
   
    tr.add-param
      td Несовершенства&nbsp
      td
        input#brend-nesovershenstva
