script#faceTemplate(type="text/template")
    tr.add-param
      td Тип товара&nbsp
      td
        select#product-tip
          option(value="ochishenie") Очищение
          option(value="tonizir") Тонизирование
          option(value="osnov-uhod") Основной уход
          option(value="spec-uhod") Специальный уход
          option(value="sonlce-zach") Солнцезащитные средства
          option(value="otchelush") Отшелушивание
          option(value="face-mask") Маски
    tr#ochishenie.add-param.podtip
      td Подтип
      td
        select
          option(value="ochishenie1") Для снятия макияжа
          option(value="ochishenie2") Гидрофильные масла
          option(value="ochishenie3") Гели для умывания
          option(value="ochishenie4") Пенки для умывания
          option(value="ochishenie5") Кремы, пудры для умывания
    
    tr#tonizir.add-param.podtip
      td Подтип
      td
        select
          option(value="tonizir1") Бустеры
          option(value="tonizir2") Тонерыб стартеры
          option(value="tonizir3") Мисты (спрей)
          option(value="tonizir4") Тампоны-патчи
    
    tr#osnov-uhod.add-param.podtip
      td Подтип
      td
        select
          option(value="osnov-uhod1") Ампулы
          option(value="osnov-uhod2") Сыворотки и эссенции
          option(value="osnov-uhod3") Лосьоны, эмульсии
          option(value="osnov-uhod4") Гели
          option(value="osnov-uhod5") Кремы
    
    
    tr#spec-uhod.add-param.podtip
      td Подтип
      td
        select
          option(value="spec-uhod1") Бальзымы и конуентраты
          option(value="spec-uhod2") Точечные средства
          option(value="spec-uhod3") Масла 
          option(value="spec-uhod4") Массажные средства
    
    tr#sonlce-zach.add-param.podtip
      td Подтип
      td
        select
          option(value="")
    
    tr#otchelush.add-param.podtip
      td Подтип
      td
        select
          option(value="otchelush1") Скрабы и гаммажи
          option(value="otchelush2") Пилинги
    
    tr#face-mask.add-param.podtip
      td Подтип
      td
        select
          option(value="face-mask1") Ночные масски
          option(value="face-mask2") Маски, пасты, кремы, пенки
          option(value="face-mask3") Тканевые, листовые маски
          option(value="face-mask3") Точечные маски-патчи
    tr.add-param
      td Кожа&nbsp
      td
        input#brend-koza
    tr.add-param
      td Несовершенства&nbsp
      td
        input#brend-nesovershenstva
