script#faceTemplate(type="text/template")
    tr.add-param
      td Тип товара&nbsp
      td
        select#product-tip
          option(value="face-ochishenie") Очищение
          option(value="face-tonizir") Тонизирование
          option(value="face-osnov-uhod") Основной уход
          option(value="face-spec-uhod") Специальный уход
          option(value="face-sonlce-zach") Солнцезащитные средства
          option(value="face-otchelush") Отшелушивание
          option(value="face-mask") Маски
    tr#face-ochishenie.add-param.podtip
      td Подтип
      td
        select
          option(value="face-ochishenie1") Для снятия макияжа
          option(value="face-ochishenie2") Гидрофильные масла
          option(value="face-ochishenie3") Гели для умывания
          option(value="face-ochishenie4") Пенки для умывания
          option(value="face-ochishenie5") Кремы, пудры для умывания
    
    tr#face-tonizir.add-param.podtip
      td Подтип
      td
        select
          option(value="face-tonizir1") Бустеры
          option(value="face-tonizir2") Тонерыб стартеры
          option(value="face-tonizir3") Мисты (спрей)
          option(value="face-tonizir4") Тампоны-патчи
    
    tr#face-osnov-uhod.add-param.podtip
      td Подтип
      td
        select
          option(value="face-osnov-uhod1") Ампулы
          option(value="face-osnov-uhod2") Сыворотки и эссенции
          option(value="face-osnov-uhod3") Лосьоны, эмульсии
          option(value="face-osnov-uhod4") Гели
          option(value="face-osnov-uhod5") Кремы
    
    
    tr#face-spec-uhod.add-param.podtip
      td Подтип
      td
        select
          option(value="face-spec-uhod1") Бальзымы и конуентраты
          option(value="face-spec-uhod2") Точечные средства
          option(value="face-spec-uhod3") Масла 
          option(value="face-spec-uhod4") Массажные средства
    
    tr#face-sonlce-zach.add-param.podtip
      td Подтип
      td
        select
          option(value="")
    
    tr#face-otchelush.add-param.podtip
      td Подтип
      td
        select
          option(value="face-otchelush1") Скрабы и гаммажи
          option(value="face-otchelush2") Пилинги
    
    tr#face-mask.add-param.podtip
      td Подтип
      td
        select
          option(value="face-mask1") Ночные масски
          option(value="face-mask2") Маски, пасты, кремы, пенки
          option(value="face-mask3") Тканевые, листовые маски
          option(value="face-mask3") Точечные маски-патчи
    tr.add-param
      td Кожа&nbsp
      td
        select#brend-koza
          option(value="face-kozh-norm") Нормальная
          option(value="face-kozh-zhir") Жирная/Комбениров.
          option(value="face-kozh-suh") Сухая/Оч. сухая
          option(value="face-kozh-prob") Проблеммная
          option(value="face-kozh-chuv") Чувствительная
    tr.add-param
      td Несовершенства&nbsp
      td
        select#brend-nesovershenstva
          option(value="face-nes-akne") Лечение акне и постакне
          option(value="face-nes-cher") Против черных точек
          option(value="face-nes-suzh") Сужение пор
          option(value="face-nes-otb") Отбеливание
          option(value="face-nes-morch") Разглаживание морщин
          option(value="face-nes-lif") Лифтинг
          option(value="face-nes-suh") Сухость, шелушение
          option(value="face-nes-ust") Усталость, уст. цвет лица
