extends ../../layout


block content
  include ../../navigation
  != js('admin/action')
  != css('admin')
  #admin-cont
    include admin-nav


    button#brend-show Добавить акцию
    button#actin-list Список акций


    #action-list-form.form-admin
      input#in-action-search
      button#start-search-action Найти
      br
      br
      table.list-table
        thead
          tr
            td(width=200, style="max-width:200px") Название
            td(width=100) Витрина
            td На витрину
            td Редоктирование
            td Удаление
        tbody#list-ac-body



    #brend-form.form-admin
      table#brend-table(style="display:inline-block")
        tr
          td Ведите название акции&nbsp
          td
            input#brend-name

        tr
          td Описание акции&nbsp
          td
            textarea.textarea-add-m#brend-desc

        tr
          td Активный&nbsp
          td
            input#active(type="checkbox")


        tr
          td Изображение&nbsp
          td
            div.small-cont-ck
              input#img-breng.small-inp-ck(type="file")
              img#prev-brend.small-prev-ck(src="/img/add-bg.png")
              img#img-prev-close.small-del-ck(src="/img/close.png")


        tr
          td Логотип&nbsp
          td
            div.small-cont-ck
              input#logo-breng.small.small-inp-ck(type="file")
              img#logo-img-breng.small-prev-ck(src="/img/add-bg.png")
              img#logo-prev-close.small-del-ck(src="/img/close.png")


        tr
          td Товары c акцией&nbsp
          td
            div#prod-ac-cont
            input#in-ac-product

        tr
          td
            button#add-brend Добавить&nbsp
          td#success-brend.hide
            span &nbsp Акция успешно добавлена


  script#actListTemplate(type="text/template")
    tr
      td <%=act.title%>
      td.br-st-act <%=act.active%>
      td
        <%if(act.active){%>
        button.fn-act(active="true", id!="act-<%=act['_id']%>") Снять активность
        <%}else{%>
        button.fn-act(active="false", id!="act-<%=act['_id']%>") Активировать
        <%}%>
      td
        a(href!="/tool/admin/edit/action/<%=act['_id']%>")
          button Редактировать акцию
      td
        button.fn-del(id!="del-<%=act['_id']%>") Удалить акцию
  script#productTemplate(type="text/template")
    div(style="height: 28px;")
      div.ac-del-prod(id!="<%=id%>") x
      div(style="display:inline-block; margin-left:10px") <%=title%>

  script#stepTemplate(type="text/template")
    div.small-cont
      input.step-inp(type="file",id!="step-inp-<%=number%>")
      img.step-img(id!="step-img-<%=number%>",src="/img/add-bg.png")
      img.del.del-step(src="/img/close.png", id !="del-step-<%=number%>")

