#admin-cont
  h3#admin-hello Привет админ
  #navbar-admin
    ul.navigation
      li
        a(href='/tool/admin/page/brend') Бренды
      li
        a(href='/tool/admin/page/product')  Товары
      li
        a(href='/tool/admin/page/action')  Акции
      li
        a(href='/tool/admin/page/new')  Новинки
      li
        a(href='/tool/admin/page/user')  Пользователи
      li
        a(href='/tool/admin/page/comments')  Отзывы
      li
        a(href='/tool/admin/page/pComments')  Комментарии 
      li
        a(href='/tool/admin/page/voucher')  Промокоды

