extends ../../layout


block content
  include ../../navigation
  != js('admin/brends')
  != css('admin')
  #admin-cont
    include admin-nav
    
    
    button#brend-show Добавить бренд

    #brend-form.form-admin
      table#brend-table(style="display:inline-block")
        tr
          td Ведите название бренда&nbsp
          td
            input#brend-name
            
        tr
          td Описание бренда&nbsp
          td
            textarea.textarea-add-m#brend-desc
            
        tr
          td Активный&nbsp
          td
            input#active(type="checkbox")
            
            
        tr
          td Изображение&nbsp
          td
            div.small-cont-ck
              input#img-breng.small-inp-ck(type="file")
              img#prev-brend.small-prev-ck(src="/img/add-bg.png")
              img#img-prev-close.small-del-ck(src="/img/close.png")
            
            
        tr
          td Логотип&nbsp
          td
            div.small-cont-ck
              input.small-inp-ck(type="file")
              img.small-prev-ck(src="/img/add-bg.png")
              img.small-del-ck(src="/img/close.png")
            
            
        tr
          td
            button#add-brend Добавить&nbsp
          td#success-brend.hide
            span &nbsp Бренд успешно добавлен


  script#stepTemplate(type="text/template")
    div.small-cont
      input.step-inp(type="file",id!="step-inp-<%=number%>")
      img.step-img(id!="step-img-<%=number%>",src="/img/add-bg.png")
      img.del.del-step(src="/img/close.png", id !="del-step-<%=number%>")

