extends ../../layout


block content
  include ../../navigation
  != js('admin/brends')
  != css('admin')
  #admin-cont
    include admin-nav
    
    
    button#brend-show Добавить бренд
    button#brend-list Список брендов


    #brend-list-form.form-admin
      input#in-brend-search
      button#start-search-brends Найти
      br
      br
      table.list-table
        thead
          tr
            td(width=200, style="max-width:200px") Название
            td(width=100) Статус
            td(width=200) Изменить статус
            td(width=220) Редактирование
            td(width=200) Удаление
        tbody#list-br-body

    #brend-form.form-admin
      table#brend-table(style="display:inline-block")
        tr
          td Ведите название бренда&nbsp
          td
            input#brend-name
            
        tr
          td Описание бренда&nbsp
          td
            div(style="width:600px")#brendDescCont
              textarea.textarea-add-m3.brend-desc
            button#addDescStep Добавить шаг описания
        tr
          td Активный&nbsp
          td
            input#active(type="checkbox")
            
            
        tr
          td Изображение&nbsp
          td
            div.small-cont-ck
              input#img-breng.small-inp-ck(type="file")
              img#prev-brend.small-prev-ck(src="/img/add-bg.png")
              img#img-prev-close.small-del-ck(src="/img/close.png")
            
            
        tr
          td Логотип&nbsp
          td
            div.small-cont-ck
              input#logo-breng.small.small-inp-ck(type="file")
              img#logo-img-breng.small-prev-ck(src="/img/add-bg.png")
              img#logo-prev-close.small-del-ck(src="/img/close.png")
            
            
        tr
          td
            button#add-brend Добавить&nbsp
          td#success-brend.hide
            span &nbsp Бренд успешно добавлен

  script#brendListTemplate(type="text/template")
    tr
      td <%=brend.title%>
      td.br-st-act <%=brend.active%>
      td 
        <%if(brend.active){%>
        button.fn-act(active="true", id!="act-<%=brend['_id']%>") Снять активность
        <%}else{%>
        button.fn-act(active="false", id!="act-<%=brend['_id']%>") Активировать
        <%}%>
      td
        a(href!="/tool/admin/edit/brend/<%=brend['_id']%>")
          button Редактировать бренд
      td
        button.fn-del(id!="del-<%=brend['_id']%>") Удалить бренд


  script#brendListTemplate(type="text/template")
    div.small-cont
      input.step-inp(type="file",id!="step-inp-<%=number%>")
      img.step-img(id!="step-img-<%=number%>",src="/img/add-bg.png")
      img.del.del-step(src="/img/close.png", id !="del-step-<%=number%>")

