extends ../../layout


block content
  include ../../navigation
  != js('admin/voucher')
  != css('admin')
  #admin-cont
    include admin-nav
    
    .form-admin(style="display:block")
      button#add-voucher Добавить промокод
      button#voucher-list Все промокоды



    #add-voucher-cont(style="display:none")
      h3 Добавить
      table
        tr
          td Название&nbsp
          td
            input#v-name
        tr
          td Код&nbsp
          td
            input#v-cod
        tr
          td Активировать&nbsp
          td
            input#v-act(type="checkbox")
        tr
          td 
            button(style="margin-left:0px")#add-voucher-btn Добавить
        tr#alert-add-voucher(style="display:none")
          td Промокод добавлен
          
    #list-voucher-cont(style="display:none")
      table.list-table
        thead
          tr
            td(width=200, style="max-width:200px") Название
            td(width=100) Код
            td(width=200) Изменить статус
            td(width=200) Удаление
        tbody#list-v-body

            
  script#voucherListTemplate(type="text/template")
    tr
      td <%=v.name%>
      td <%=v.code%>
      td
        <%if(v.active){%>
        button.fn-act(active="true", idV!="<%=v['_id']%>") Снять активность
        <%}else{%>
        button.fn-act(active="false", idV!="<%=v['_id']%>") Активировать
        <%}%>
      td
        button.fn-del(idV!="<%=v['_id']%>") Удалить


