extends layout


block content
  include navigation
  != js('face')
  .for-afisha АФИИИИШШШШШШШШШШШШАААА!!!
  .left-side
    .switch
      .catalog.active Каталог
      .brands Бренды
    select.nav
      option Для лица
      option Для тела
    div.types
      ul.type-product ОЧИЩЕНИЕ
        li Для снятия макияжа
        li Гидрофильные масла
        li Гели для умывания
        li Пенки для умывания
        li Кремы, пудры для умывания
      ul.type-product ТОНИЗИРОВАНИЕ
        li Бустеры
        li Тонеры, стартеры
        li Мисты (спреи)
        li Тампоны-патчи
      ul.type-product ОСНОВНОЙ УХОД
        li Ампулы
        li Сыворотки и эссенции
        li Лосьоны и эмульсии
        li Гели
      ul.type-product СПЕЦИАЛЬНЫЙ УХОД
        li Бальзамы и концентраты
        li Точенчные средства
        li Масла
        li Массажные средства
      ul.type-product СОЛНЦЕЗАЩИТНЫЕ СРЕДСТВА
      ul.type-product ОТШЕЛУШИВАНИЕ
        li Скрабы и гаммажи
        li Пилинги
      ul.type-product МАСКИ
        li Ночные маски
        li Маски: посты, кремы, пенки
        li Тканевые, листовые маски
        li Точенчные маски-патчи
    ul.select-params.skin Тип кожи
      li(checked="true") Нормальная
      li Жирная/комбинированная
      li Сухая/очень сухая
      li Проблемная
      li Чувствительная
    ul.select-params.nesovershenstva Несовершенства
      li Лечение акне и постакне
      li Против черных точек
      li Сужение пор
      li Отбеливание
      li Разглаживание морщин
      li Лифтинг
      li Сухость, шелушение
      li Усталость, тусклый цвет лица
    ul.select-params.brands Бренды
      li b1
      li b1
      li b1
      li b1
      li b1
      li b1

  .right-side
    .filter-block
        .select-price-cont
            .title Цена
            #slider-price
            #slider-price-fake
            label.min-price-label От
            input.min-price(value="49")
            label.max-price-label До
            input.max-price(value="2599")
        input.search-product
        .sort-cont
            .title Сортировать
            select.sort-product
                option По популярности

    .res-search
      .prod
        img(src="../img/prod.jpg", width="124px", height="144px")
        .title TONYMOLY Peach Anti-Aging Hand Cream
        .descr Утрапитательный крем для рук против старения кожи
        .old-price 417
        .new-price 339 р
        .in-basket В КОРЗИНУ







  include footer

