extends layout

block content
  include navigation
  input#firstData(type="hidden", user=JSON.stringify(user))
  != js("user")
  .cabinet-cont.favorites
    .left
      .menu
        ul
          a(href="/user/profile")
            li ПРОФИЛЬ
          a(href="/user/favorites")
            li.active ИЗБРАННОЕ
          a(href="/user/reviews")
            li ОТЗЫВЫ
          a(href="/user/stockpiling")
            li НАКОПЛЕНИЕ
    .right  
      .product-cont
            
    .adv-div
      .txt1  Бонусные баллы, скидки и подарки при каждом заказе    
      .txt2 УЗНАТЬ БОЛЬШЕ                                    
