div#footer-cont
  .stolb.stolb1
    .title О НАС
    a.link(href="#") Отзывы
  .stolb.stolb2
    .title БАЗА ЗНАНИЙ
    a.link(href="#") Косметические бренды
    a.link(href="#") Путеводитель по ассортименту
    a.link(href="#") Азиатский уход за кожей
  .stolb.stolb3
    .title СЕРВИС
    a.link(href="#") Привилегии постоянных клиентов
    a.link(href="#") Доставка и оплата
    a.link(href="#") Условия возврата
    a.link(href="#") Конфиденциальность
  .stolb.stolb4
    .title КОНТАКТЫ
    .link 8 800 200 10 10
    .link info@colorskorea.com
    .link круглосуточно, без выходных
  .way-payment
    .title СПОСОБЫ ОПЛАТЫ

