//#headerbg
//	//#login-cont-button
//		if user
//			span#login-user-txt #{user.firstName}&nbsp#{user.lastName} &nbsp
//			a(href="/logout") Logout
//		else
//			a#login-button.regist-log-button(href="#") Войти
//			a#sing-up-button.regist-log-button(href="#") Зарегистрироваться


#header-top
  ul.navigation
    li.about-us
      a(href='/header/about') О нас
    li.catalog
      a(href='/nav/face')  Каталог
    li.payment
      a(href='/header/pay')  Доставка и оплата
    li.promotions
      a(href='/nav/promotions')  Акции
    li.rewiews
      a(href='/header/reviews')  Отзывы
    li.opt
      a(href='/header/opt')  Опт
    li.contacts
      a(href='/header/contact')  Контакты

  #call-order-cont
    #call-order Заказать звонок
    #phone-number 8 928 604 78 71


#header-top-fixed
  ul.navigation
    li.about-us
      a(href='/header/about') О нас
    li.catalog
      a(href='/nav/face')  Каталог
    li.payment
      a(href='/header/pay')  Доставка и оплата
    li.promotions
      a(href='/nav/promotions')  Акции
    li.rewiews
      a(href='/header/reviews')  Отзывы
    li.opt
      a(href='/header/opt')  Опт
    li.contacts
      a(href='/header/contact')  Контакты

  #call-order-cont
    #call-order Заказать звонок
    #phone-number 8 928 604 78 71

#header-bottom
  a(href="/")
    #logo
  #user-cont
    .options.login
      a Вход
    .options.stuff
      a Избранное
    .options.busket
      a Корзина
    input#search-input
#navbar-my
  ul.navigation
    li
      a(href='/nav/new') Новинки
    li
      a(href='/nav/brend')  Бренды
    li
      a(href='/nav/face')  Для лица
    li
      a(href='/nav/body')  Для тела
    li
      a(href='/nav/hair')  Для волос
    li
      a(href='/nav/makeup')  Макияж
    li
      a(href='/nav/accessories')  Аксессуары
    li
      a(href='/nav/man')  Для мужчин
    li
      a(href='/nav/sets')  Наборы

