//#headerbg
//	//#login-cont-button
//		if user
//			span#login-user-txt #{user.firstName}&nbsp#{user.lastName} &nbsp
//			a(href="/logout") Logout
//		else
//			a#login-button.regist-log-button(href="#") Войти
//			a#sing-up-button.regist-log-button(href="#") Зарегистрироваться


#header-top
  ul.navigation
    li.about-us
      a(href='/header/about') О нас
    li.catalog
      a(href='/nav/face')  Каталог
    li.payment
      a(href='/header/pay')  Доставка и оплата
    li.promotions
      a(href='/nav/promotions')  Акции
    li.rewiews
      a(href='/header/reviews')  Отзывы
    li.opt
      a(href='/header/opt')  Опт
    li.contacts
      a(href='/header/contact')  Контакты

  #call-order-cont
    #call-order Заказать звонок
    #phone-number 8 928 604 78 71


#header-bottom
  a(href="/")
    #logo
  #user-cont
    .options.login
      a Вход
    .options.stuff
      a Избранное
    .options.busket
      a Корзина
    input#search-input
#navbar-my
  ul.navigation
    li.news
      a(href='/nav/new') Новинки
    li.brands
      a(href='/nav/brend')  Бренды
    li.face
      a(href='/nav/face')  Для лица
      .menu-cont
        .col1
          ul 
            span.sub-title(value="/nav/face?type=face-ochishenie") ОЧИЩЕНИЕ
            li(value="/nav/face?pType=face-ochishenie1") Для снятия макияжа
            li(value="/nav/face?pType=face-ochishenie2") Гидрофильные масла
            li(value="/nav/face?pType=face-ochishenie3") Гели для умывания
            li(value="/nav/face?pType=face-ochishenie4") Пенки для умывания
            li(value="/nav/face?pType=face-ochishenie5") Кремы, пудры
            li(value="/nav/face?pType=face-ochishenie6") Мыло
          ul.ul2 
            span(value="/nav/face?type=face-sonlce-zach").sub-title СОЛНЦЕЗАЩИТНЫЕ СРЕДСТВА
        .col1
          ul 
            span(value="/nav/face?type=face-tonizir").sub-title ТОНИЗИРОВАНИЕ
            li(value="/nav/face?pType=face-tonizir1") Тонеры
            li(value="/nav/face?pType=face-tonizir2") Спреи (мисты)
          ul.ul2 
            span.sub-title(value="/nav/face?type=face-osnov-uhod") ОСНОВНОЙ УХОД
            li(value="/nav/face?pType=face-osnov-uhod1") Ампулы
            li(value="/nav/face?pType=face-osnov-uhod2") Сыворотки и эссенции
            li(value="/nav/face?pType=face-osnov-uhod3") Лосьоны и эмульсии
            li(value="/nav/face?pType=face-osnov-uhod4") Гели
            li(value="/nav/face?pType=face-osnov-uhod5") Кремы
        .col1
          ul
            span.sub-title(value="/nav/face?type=face-spec-uhod") СПЕЦИАЛЬНЫЙ УХОД
            li(value="/nav/face?pType=face-spec-uhod1") Бальзамы и концентраты
            li(value="/nav/face?pType=face-spec-uhod2", style="margin-top: 20px;") Точечные средства
            li(value="/nav/face?pType=face-spec-uhod3") Масла
            li(value="/nav/face?pType=face-spec-uhod4") Массажные средства
        .col1
          ul 
            span.sub-title(value="/nav/face?type=face-mask") МАСКИ
            li(value="/nav/face?pType=face-mask1") Ночные маски
            li(value="/nav/face?pType=face-mask2") Маски: пасты, кремы
            li(value="/nav/face?pType=face-mask3") Листовые маски
            li(value="/nav/face?pType=face-mask4") Точечные маски-патчи
          ul.ul2 
            span.sub-title(value="/nav/face?type=face-otchelush") ОТШЕЛУШИВАНИЕ
            li(value="/nav/face?pType=face-otchelush1") Скрабы и гоммажи
            li(value="/nav/face?pType=face-otchelush2") Пилинги
    li.body
      a(href='/nav/body')  Для тела
      .menu-cont
        .col1
          ul 
            span.sub-title(value="/nav/body?type=body-body") УХОД ЗА ТЕЛОМ
            li(value="/nav/body?pType=body-body1") Для ванны и душа
            li(value="/nav/body?pType=body-body2") Лосьоны, кремы, бальзамы
            li(value="/nav/body?pType=body-body3") Спреи
            li(value="/nav/body?pType=body-body4") Масла
            li(value="/nav/body?pType=body-body5") Массажные средства
            li(value="/nav/body?pType=body-body6") Скрабы
          ul.ul2 
            span.sub-title(value="/nav/body?type=body-solnc") СОЛНЦЕЗАЩИТНЫЕ СРЕДСТВА
        .col1
          ul 
            span.sub-title(value="/nav/body?type=body-hend") УХОД ЗА РУКАМИ
            li(value="/nav/body?pType=body-hend1") Кремы и лосьоны
            li(value="/nav/body?pType=body-hend2") Маски и скрабы
            li(value="/nav/body?pType=body-hend3") Уход за ногтями
          ul.ul2 
            span.sub-title(value="/nav/body?type=body-footer") УХОД ЗА НОГАМИ
            li(value="/nav/body?pType=body-footer1") Скрабы и пилинги
            li(value="/nav/body?pType=body-footer2") Маски, патчи
            li(value="/nav/body?pType=body-footer3") Лосьоны, кремы и спреи
            li(value="/nav/body?pType=body-footer4") Дезодорирующие средства
        .col1
          ul 
            span.sub-title(value="/nav/body?type=body-stroin") ДЛЯ СТРОЙНОГО СИЛУЭТА
            li(value="/nav/body?pType=body-stroin1") Гели, кремы, скрабы
            li(value="/nav/body?pType=body-stroin2") Маски и патчи
          ul.ul2  
            span.sub-title(value="/nav/body?type=body-epil") ЭПИЛЯЦИЯ И ДЕПИЛЯЦИЯ
          ul.ul2 
            span.sub-title(value="/nav/body?type=body-porf") ПАРФЮМИРОВАННЫЕ И ДЕЗОДОРИРУЮЩИЕ СРЕДСТВА

    li.hair
      a(href='/nav/hair')  Для волос
    li.make
      a(href='/nav/makeup')  Макияж
      .menu-cont
        .col1
          ul 
            span.sub-title(value="/nav/makeup?type=makeup-face") ЛИЦО
            li(value="/nav/makeup?pType=makeup-face1") Базы под макияж
            li(value="/nav/makeup?pType=makeup-face2") ВВ-кремы
            li(value="/nav/makeup?pType=makeup-face3") СС-кремы
            li(value="/nav/makeup?pType=makeup-face4") Крем-пудры, бальзамы
            li(value="/nav/makeup?pType=makeup-face5") Пудры сухие
            li(value="/nav/makeup?pType=makeup-face6") Консилеры/корректоры
            li(value="/nav/makeup?pType=makeup-face7") Хайлайтеры и бронзеры
            li(value="/nav/makeup?pType=makeup-face8") Румяна
            li(value="/nav/makeup?pType=makeup-face9") Фиксаторы макияжа
        .col1
          ul  
            span.sub-title(value="/nav/makeup?type=makeup-eyes") ГУБЫ
            li(value="/nav/makeup?pType=makeup-eyes1") Базы под макияж губ
            li(value="/nav/makeup?pType=makeup-eyes2") Тинты
            li(value="/nav/makeup?pType=makeup-eyes3") Блески
            li(value="/nav/makeup?pType=makeup-eyes4") Помады
        .col1
          ul 
            span.sub-title(value="/nav/makeup?type=makeup-lips") ГЛАЗА
            li(value="/nav/makeup?pType=makeup-lips1") Базы под тушь, фиксаторы
            li(value="/nav/makeup?pType=makeup-lips2") Туши
            li(value="/nav/makeup?pType=makeup-lips3") Базы под тени
            li(value="/nav/makeup?pType=makeup-lips4") Тени для век
            li(value="/nav/makeup?pType=makeup-lips5") Карандаши для глаз
            li(value="/nav/makeup?pType=makeup-lips6") Подводки
    li.acces
      a(href='/nav/accessories')  Аксессуары
      .menu-cont
        .col1
          ul 
            span.sub-title(value="/nav/accessories?type=access-ochish") ДЛЯ ОЧИЩЕНИЯ КОЖИ
            li(value="/nav/accessories?pType=access-ochish1") Щеточки, губки
            li(value="/nav/accessories?pType=access-ochish2") Спонжи конняку
            li(value="/nav/accessories?pType=access-ochish3") Хлопковые тампоны и диски
            li(value="/nav/accessories?pType=access-ochish4") Прочее
          ul.ul2 
            span.sub-title(value="/nav/accessories?type=access-mask") ДЛЯ МАСОК
          ul.ul2 
            span.sub-title(value="/nav/accessories?type=access-massazh") ДЛЯ МАССАЖА
        .col1
          ul 
            span.sub-title(value="/nav/accessories?type=access-makeup") ДЛЯ МАКИЯЖА
            li(value="/nav/accessories?pType=access-makeup1") Кисти для макияжа
            li(value="/nav/accessories?pType=access-makeup2") Пуховки, спонжи
            li(value="/nav/accessories?pType=access-makeup3") Матирующие салфетки
            li.spec(value="/nav/accessories?pType=access-makeup4") Очищающие средства для спонжей и кистей
          ul.ul4 
            span.sub-title(value="/nav/accessories?type=access-raznoe") РАЗНОЕ
        .col1
          ul 
            span.sub-title(value="/nav/accessories?type=access-manikur") ДЛЯ МАНИКЮРА И ПЕДИКЮРА
          ul.ul3 
            span.sub-title(value="/nav/accessories?type=access-header") ДЛЯ ВОЛОС


    li.mans
      a(href='/nav/man')  Для мужчин
      .menu-cont
        .col1
          ul 
            span.sub-title(value="/nav/man?type=forman-baza") БАЗОВЫЙ УХОД
            li(value="/nav/man?pType=forman-baza1") Пенки, гели для умывания
            li(value="/nav/man?pType=forman-baza2") Скрабы
            li(value="/nav/man?pType=forman-baza3") Тонеры
            li(value="/nav/man?pType=forman-baza4") Спреи (мисты)
            li(value="/nav/man?pType=forman-baza5") Лосьоны, эмульсии, кремы
            li(value="/nav/man?pType=forman-baza6") Бальзамы для губ
            li(value="/nav/man?pType=forman-baza7") Листовые маски
        .col1
          ul 
            span.sub-title(value="/nav/man?type=forman-body") ДЛЯ ТЕЛА И ВОЛОС
          ul.ul2 
            span.sub-title(value="/nav/man?type=forman-porf") ПАРФЮМИРОВАННЫЕ СРЕДСТВА
          ul.ul2 
            span.sub-title(value="/nav/man?type=forman-brit") ПОСЛЕ БРИТЬЯ
          ul.ul2 
            span.sub-title(value="/nav/man?type=forman-bbkrem") МУЖСКИЕ ВВ-КРЕМЫ

    li.sets
      a(href='/nav/sets')  Наборы
      .menu-cont
        .col1
          ul 
            span.sub-title(value="/nav/sets?type=set-set") НАБОРЫ
            li(value="/nav/sets?pType=set-set1") Уход за лицом
            li(value="/nav/sets?pType=set-set2") Уход за телом
            li(value="/nav/sets?pType=set-set3") Уход за волосами
            li(value="/nav/sets?pType=set-set4") Для мужчин
            li(value="/nav/sets?pType=set-set5") Макияж
            li(value="/nav/sets?pType=set-set6") Маникюр
          ul.ul2 
            span.sub-title(value="/nav/sets?type=set-semple") СЭМПЛ-НАБОРЫ

