//#headerbg
//	//#login-cont-button
//		if user
//			span#login-user-txt #{user.firstName}&nbsp#{user.lastName} &nbsp
//			a(href="/logout") Logout
//		else
//			a#login-button.regist-log-button(href="#") Войти
//			a#sing-up-button.regist-log-button(href="#") Зарегистрироваться


#header-top
  ul.navigation
    li.about-us
      a(href='/header/about') О нас
    li.catalog
      a(href='/nav/face')  Каталог
    li.payment
      a(href='/header/pay')  Доставка и оплата
    li.promotions
      a(href='/nav/promotions')  Акции
    li.rewiews
      a(href='/header/reviews')  Отзывы
    li.opt
      a(href='/header/opt')  Опт
    li.contacts
      a(href='/header/contact')  Контакты

  #call-order-cont
    #call-order Заказать звонок
    #phone-number 8 928 604 78 71


#header-bottom
  a(href="/")
    #logo
  #user-cont
    .options.login
      a Вход
    .options.stuff
      a Избранное
    .options.busket
      a Корзина
    input#search-input
#navbar-my
  ul.navigation
    li.news
      a(href='/nav/new') Новинки
    li.brands
      a(href='/nav/brend')  Бренды
    li.face
      a(href='/nav/face')  Для лица
      .menu-cont
        .col1
          ul ОЧИЩЕНИЕ
            li Для снятия макияжа
            li Гидрофильные масла
            li Гели для умывания
            li Пенки для умывания
            li Кремы, пудры
            li Мыло
          ul.ul2 СОЛНЦЕЗАЩИТНЫЕ СРЕДСТВА
        .col1
          ul ТОНИЗИРОВАНИЕ
            li Тонеры
            li Спреи (мисты)
          ul.ul2 ОСНОВНОЙ УХОД
            li Ампулы
            li Сыворотки и эссенции
            li Лосьоны и эмульсии
            li Гели
            li Кремы
        .col1
          ul СПЕЦИАЛЬНЫЙ УХОД
            li Бальзамы и концентраты
            li Точечные средства
            li Масла
            li Массажные средства
        .col1
          ul МАСКИ
            li Ночные маски
            li Маски: пасты, кремы
            li Листовые маски
            li Точечные маски-патчи
          ul.ul2 ОТШЕЛУШИВАНИЕ
            li Скрабы и гоммажи
            li Пилинги
    li.body
      a(href='/nav/body')  Для тела
      .menu-cont
        .col1
          ul УХОД ЗА ТЕЛОМ
            li Для ванны и душа
            li Лосьоны, кремы, бальзамы
            li Спреи
            li Масла
            li Массажные средства
            li Скрабы
          ul.ul2 СОЛНЦЕЗАЩИТНЫЕ СРЕДСТВА
        .col1
          ul УХОД ЗА РУКАМИ
            li Кремы и лосьоны
            li Маски и скрабы
            li Уход за ногтями
          ul.ul2 УХОД ЗА НОГАМИ
            li Скрабы и пилинги
            li Маски, патчи
            li Лосьоны, кремы и спреи
            li Дезодорирующие средства
        .col1
          ul ДЛЯ СТРОЙНОГО СИЛУЭТА
            li Гели, кремы, скрабы
            li Маски и патчи
          ul.ul2  ЭПИЛЯЦИЯ И ДЕПИЛЯЦИЯ
          ul.ul2 ПАРФЮМИРОВАННЫЕ И ДЕЗОДОРИРУЮЩИЕ СРЕДСТВА

    li.hair
      a(href='/nav/hair')  Для волос
    li.make
      a(href='/nav/makeup')  Макияж
      .menu-cont
        .col1
          ul ЛИЦО
            li Базы под макияж
            li ВВ-кремы
            li СС-кремы
            li Крем-пудры, бальзамы
            li Пудры сухие
            li Консилеры/корректоры
            li Хайлайтеры и бронзеры
            li Румяна
            li Фиксаторы макияжа
        .col1
          ul  ГУБЫ
            li Базы под макияж губ
            li Тинты
            li Блески
            li Помады
        .col1
          ul ГЛАЗА
            li Базы под тушь, фиксаторы
            li Туши
            li Базы под тени
            li Тени для век
            li Карандаши для глаз
            li Подводки
    li.acces
      a(href='/nav/accessories')  Аксессуары
      .menu-cont
        .col1
          ul ДЛЯ ОЧИЩЕНИЯ КОЖИ
            li Щеточки, губки
            li Спонжи конняку
            li Хлопковые тампоны и диски
            li Прочее
          ul.ul2 ДЛЯ МАСОК
          ul.ul2 ДЛЯ МАССАЖА
        .col1
          ul ДЛЯ МАКИЯЖА
            li Кисти для макияжа
            li Пуховки, спонжи
            li Матирующие салфетки
            li.spec Очищающие средства для спонжей и кистей
          ul.ul4 РАЗНОЕ
        .col1
          ul ДЛЯ МАНИКЮРА И ПЕДИКЮРА
          ul.ul3 ДЛЯ ВОЛОС


    li.mans
      a(href='/nav/man')  Для мужчин
      .menu-cont
        .col1
          ul БАЗОВЫЙ УХОД
            li Пенки, гели для умывания
            li Скрабы
            li Тонеры
            li Спреи (мисты)
            li Лосьоны, эмульсии, кремы
            li Бальзамы для губ
            li Листовые маски
        .col1
          ul ДЛЯ ТЕЛА И ВОЛОС
          ul.ul2 ПАРФЮМИРОВАННЫЕ СРЕДСТВА
          ul.ul2 ПОСЛЕ БРИТЬЯ
          ul.ul2 МУЖСКИЕ ВВ-КРЕМЫ

    li.sets
      a(href='/nav/sets')  Наборы
      .menu-cont
        .col1
          ul НАБОРЫ
            li Уход за лицом
            li Уход за телом
            li Уход за волосами
            li Для мужчин
            li Макияж
            li Маникюр
          ul.ul2 СЭМПЛ-НАБОРЫ

