//#headerbg
//	//#login-cont-button
//		if user
//			span#login-user-txt #{user.firstName}&nbsp#{user.lastName} &nbsp
//			a(href="/logout") Logout
//		else
//			a#login-button.regist-log-button(href="#") Войти
//			a#sing-up-button.regist-log-button(href="#") Зарегистрироваться


#header-top
  ul.navigation
    li.about-us
      a(href='#') О нас
    li.catalog
      a(href='#')  Каталог
    li.payment
      a(href='#')  Доставка и оплата
    li.promotions
      a(href='#')  Акции
    li.rewiews
      a(href='#')  Отзывы
    li.opt
      a(href='#')  Опт
    li.contacts
      a(href='#')  Контакты
  #call-order-cont
    #call-order Заказать звонок
    #phone-number 8 928 604 78 71

#header-bottom
  #logo
  #user-cont
    .options.login
      a Вход
    .options.stuff
      a Избранное
    .options.busket
      a Корзина
    input#search-input
#navbar-my
  ul.navigation
    li
      a(href='#') Новинки
    li
      a(href='#')  Бренды
    li
      a(href='#')  Для лица
    li
      a(href='#')  Для тела
    li
      a(href='#')  Для волос
    li
      a(href='#')  Макияж
    li
      a(href='#')  Аксессуары
    li
      a(href='#')  Для мужчин
    li
      a(href='#')  Наборы

