extends layout

block content
  include navigation
  #news-page
    .title НОВИНКИ
    .news
      .text.left
        h2 Улучшенная серия Green Tea с экстрактом зеленого чая от Innisfree
        h3 Компания Innisfree выпустила обновленную серию с экстрактом зеленого чая, в которую вошли новые супер-пупер формулы и она теперь ну ващеееее. А еще тут будет, возможно, и больше текста, для те, кто любит почитать, и много чего еще.
      .pic.right
        img(width='480px', height="270px")
    .news
      .pic.left
        img(width='480px', height="270px")
      .text.right
        h2 Улучшенная серия Green Tea с экстрактом зеленого чая от Innisfree
        h3 Компания Innisfree выпустила обновленную серию с экстрактом зеленого чая, в которую вошли новые супер-пупер формулы и она теперь ну ващеееее. А еще тут будет, возможно, и больше текста, для те, кто любит почитать, и много чего еще.

    .go-catalog.type2
      a(href="#") Перейти к каталогу  >


    .news
      .text.left
        h2 Улучшенная серия Green Tea с экстрактом зеленого чая от Innisfree
        h3 Компания Innisfree выпустила обновленную серию с экстрактом зеленого чая, в которую вошли новые супер-пупер формулы и она теперь ну ващеееее. А еще тут будет, возможно, и больше текста, для те, кто любит почитать, и много чего еще.
      .pic.right
        img(width='480px', height="270px")
    .news
      .pic.left
        img(width='480px', height="270px")
      .text.right
        h2 Улучшенная серия Green Tea с экстрактом зеленого чая от Innisfree
        h3 Компания Innisfree выпустила обновленную серию с экстрактом зеленого чая, в которую вошли новые супер-пупер формулы и она теперь ну ващеееее. А еще тут будет, возможно, и больше текста, для те, кто любит почитать, и много чего еще.

    .go-catalog
      a(href="#") Перейти к каталогу  >

