extends layout

block content
  != js('deleteAll')
  .popup-cont.type1
    .close
    input.email(type="text",placeholder="E-mail")
    input.pass(type="password",placeholder="Пароль")
    a(href="#").register Регистрация
    a(href="#").forgot-pass Забыли пароль?
    .enter.button Вход
