extends layout

block content
  include navigation
  #product-page
    input#firstData(type="hidden")
    .catalog Каталог
    .product-cont
      .left
        img.product-img(src="../img/PRODUCT-BIG.png", width="402px",height="402px")
      .right
        .title INNISFREE Jeju-Bija Anti Trouble Skin
        .short-descr Заживляющий, успокаивающий тонер против акне
        label.ob-lab.product-label Объем:
        .ob 200 мл
        label.weight-lab.product-label Вес:
        .weight 250 гр
        br
        label.ton.product-label Оттенок:
        select.ton
            option One Kind

        br
        label.sclad.product-label Осталось на складе:
        select.sclad
            option 1
        br
        label.product-label ID:
        .id 00176
        br
        label.product-label.price-lab Цена:
        .old-price 790
          span р
        .new-price 599
          span р
        br
        .buy-fast Купить быстро
        .in-basket В корзину
        .favorites В избранное
      #adv1-block
        div.line
        div.f1 ГАРАНТИЯ КАЧЕСТВА
        div.line
        div.f2 БЕЗОПАСНОСТЬ
        div.line
        div.f3 БЫСТРАЯ ДОСТАВКА
        div.line
        div.f4  ГАРАНТИЯ ВОЗВРАТА
        div.line
        div.f5 УДОБНАЯ ОПЛАТА
        div.line
      #adv2-block
        .f1 10 пробников
        .f2 В ПОДАРОК
        .f3 при любой покупке!
      label.product-label Описание:
      .description
        p Тонер завершает процедуру очищения кожи, интенсивно увлажняя и освежая ее. Натуральный комплекс из 6 растительных экстрактов: смолы, кедра, лаванды, можжевельника и цитрусовых глубоко очищает и дезинфицируют кожу, снимают воспаления  и заживляют ранки.
        p Тоник останавливает потерю влаги, успокаивает кожу, смягчает и подготавливает ее к нанесению последующего ухода.
      label.product-label Применение:
      .application
        p Сразу же после очищения кожи, немного промокнув ее полотенцем, нанесите тонер ладонями на кожу лица в течение 3х секунд – так кожа не потеряет влагу. Лицо не обязательно должно быть полностью сухим – ничего, если оно будет немного влажное.
        p Дайте тонеру впитаться, и приступайте к последующему уходу (сыворотка, лосьон или крем).
      .link1 Подробнее о тонерах в корейской косметике
      .link2 Особенности азиатского ухода за кожей
      .ill-top








  include footer

