extends layout

block content
  include navigation
  #product-page
    .catalog Каталог
    .product-cont
      .left
        img.product-img(src="../img/PRODUCT-BIG.png", width="402px",height="402px")
      .right
        .title INNISFREE Jeju-Bija Anti Trouble Skin
        .short-descr Заживляющий, успокаивающий тонер против акне
        label.ob-lab Объем:
        .ob 200 мл
        label.weight-lab Вес:
        .weight 250 гр
        br
        label.ton Оттенок:









  include footer

