extends layout

block content
  include navigation
  != js('searchPromo')
  #promotions-page
    img#promotions-picture ТУТ БУДЕТ КАРТИНКА
    .left-side
      .switch.prom
        .catalog
          a(href="/nav/face") Каталог
        .promotions.active
          a(href="/nav/promotions") Акции
        .brands
          a(href="/nav/brend") Бренды
      ul.promotions
         li
          img.prom
      ul.promotions
         li
          img.prom
      ul.promotions
         li
          img.prom
    .right-side
      .filter-block
          .select-price-cont
              .title Цена
              #slider-price
              #slider-price-fake
              label.min-price-label От
              input.min-price(value="49")
              label.max-price-label До
              input.max-price(value="2599")
          input.search-product
          .sort-cont
              .title Сортировать
              select.sort-product
                  option(value="popular") По популярности
                  option(value="new") По новизне
                  option(value="cost") По цене
      .res-search

