extends layout

block content
  include navigation
  .cabinet-cont.reviews
    .left
      .menu
        ul
          a(href="/user/profile")
            li ПРОФИЛЬ
          a(href="/user/favorites")
            li ИЗБРАННОЕ
          a(href="/user/reviews")
            li.active ОТЗЫВЫ
          a(href="/user/stockpiling")
            li НАКОПЛЕНИЕ
          a(href="/user/my_orders")
            li МОИ ЗАКАЗЫ
    .right  
      .reviews-cont
        .review
          a.go-rew(href="#") Перейти к отзыву
          .date 23.05.14
          .title SKINFOOD Rose Essense Blusher
          .line
          img(width="72px",height="72px")
          .text Купила исключительно из-за большой скидки на продукт, на пробу... Когда открыла крышку, чуть было не разочаровалась - цвет румян выглядит ярче, чем на фото и бла бла бла бла блда
        .review
          a.go-rew(href="#") Перейти к отзыву
          .date 23.05.14
          .title SKINFOOD Rose Essense Blusher
          .line
          img(width="72px",height="72px")
          .text Купила исключительно из-за большой скидки на продукт, на пробу... Когда открыла крышку, чуть было не разочаровалась - цвет румян выглядит ярче, чем на фото и бла бла бла бла блда
        .review
          a.go-rew(href="#") Перейти к отзыву
          .date 23.05.14
          .title SKINFOOD Rose Essense Blusher
          .line
          img(width="72px",height="72px")
          .text Купила исключительно из-за большой скидки на продукт, на пробу... Когда открыла крышку, чуть было не разочаровалась - цвет румян выглядит ярче, чем на фото и бла бла бла бла блда          
        .review
          a.go-rew(href="#") Перейти к отзыву
          .date 23.05.14
          .title SKINFOOD Rose Essense Blusher
          .line
          img(width="72px",height="72px")
          .text Купила исключительно из-за большой скидки на продукт, на пробу... Когда открыла крышку, чуть было не разочаровалась - цвет румян выглядит ярче, чем на фото и бла бла бла бла блда          
        .review
          a.go-rew(href="#") Перейти к отзыву
          .date 23.05.14
          .title SKINFOOD Rose Essense Blusher
          .line
          img(width="72px",height="72px")
          .text Купила исключительно из-за большой скидки на продукт, на пробу... Когда открыла крышку, чуть было не разочаровалась - цвет румян выглядит ярче, чем на фото и бла бла бла бла блда
    .adv-div
      .txt1 
        div НАПИШИТЕ ОТЗЫВ 
        div и получите бонусы и скидки!    
      .txt2 УЗНАТЬ БОЛЬШЕ                      
          
          
          
          
          
          
          
          
