extends layout


block content
  include navigation
  != js('search')
  input#firstData(type="hidden", search=search)
  .for-afisha АФИИИИШШШШШШШШШШШШАААА!!!
  .left-side

  .right-side
    .filter-block
        .select-price-cont
            .title Цена
            #slider-price
            #slider-price-fake
            label.min-price-label От
            input.min-price(value="49")
            label.max-price-label До
            input.max-price(value="2599")
        input.search-product
        .sort-cont
            .title Сортировать
            select.sort-product
                option(value="popular") По популярности
                option(value="dateAdding") По новизне
                option(value="cost") По цене
    .res-search


  include footer

  script#filerTemplate(type="text/template")
    .switch
      .catalog.active Каталог
      .brands
        a(href="/nav/brend") Бренды
    select#nav-type.nav
      <% _.each(gdata, function(data, key) { %>  <option value=<%=key%>><%= data.title %></option> <% }); %>
    div.types
      <% _.each(data.tip, function(data, key) { %>
      ul.type-product
        span.filter-type(value!="<%=data.key%>") <%=data.title%>
        <% _.each(data.podtip, function(data, key) { %>
        li.filter-pod-type(value!="<%=data.key%>") <%=data.title%>
        <% }); %>
      <% }); %>
    <% _.each(data.dop, function(data, key) { %>
    ul.select-params.special-params(value!="<%=data.key%>") <%=data.title%>
      <% _.each(data.list, function(data, key) { %>
      li(ischecked="true", value!="<%=data.key%>") <%=data.title%>
      <% }); %>
    <% }); %>
    ul#brend-filter.select-params(value!="brend") Бренды
      <% _.each(bdata, function(data, key) { %>
      li(ischecked="true", value!="<%=data['_id']%>") <%=data.title%>
      <% }); %>

  script#productTemplate(type="text/template")
    .prod
      img(src!="../img/products/<%=data['_id']%>/0.<%=data.picture[0]%>", width="124px", height="144px")
      .title <%=data.title%>
      .descr <%=data.minOpisanie%>
      .old-price <%=data.oldCost%>
      .new-price <%=data.cost%> р
      .in-basket В КОРЗИНУ

