extends layout
block content
  include navigation
  != js("user")
  .cabinet-cont.un-favorites
    .product-cont

    .for-user-cont
      .txt1 Оставьте ваши
      input.inp1
      .txt2 и
      input.inp2
      .txt3 и получите скидки, бонусы и подарки к вашим покупкам!
      .podr ПОДРОБНЕЕ
                              
