!= css('style')


#order-call
  .inner-cont
    .title ЗАКАЗАТЬ ЗВОНОК
    input(placeholder="Ваше имя").name
    input(placeholder="Телефон").phone
    input(placeholder="Время для звонка").time
    .order-but ЗАКАЗАТЬ
