@font-face
    font-family: CenturyGothic
    src: local("CenturyGothic-Regular"),
         url('fonts/GOTHIC.TTF')
@font-face
    font-family: CenturyGothic-Bold
    src: local("CenturyGothic-Bold"),
         url('fonts/946379.ttf')




body
  font-family: CenturyGothic

#admin-cont
  #admin-hello
    text-align:center

