@font-face
    font-family: CenturyGothic
    src: local("CenturyGothic-Regular"),
         url('fonts/GOTHIC.TTF')
@font-face
    font-family: CenturyGothic-Bold
    src: local("CenturyGothic-Bold"),
         url('fonts/946379.ttf')

body
  font-family: CenturyGothic

.hide
  display:none



.podtip
  display:none

#admin-cont
  #admin-hello
    text-align:center
  .form-admin
    margin-top:10px
    display:none
    #add-dish-table
      display: inline-block;
      vertical-align: top;
      tr
        height:31px
    #im-cont-step
      display: inline-block;
      vertical-align: top;
      width: 562px;
      padding-left: 10px;
.small-cont:hover
    img
      opacity:0.7
    .del
      opacity:1
  .small-cont
    position:relative
    width:160px
    height:160px
    display:inline-block
    margin-right:10px
    input
      position:absolute
      z-index: 1;
      width: 165px;
      height: 165px;
      opacity: 0;
    img
      position:absolute
      width:160px
      height:160px
    .del
      display:none
      opacity:0
      z-index:2
      
#small-cont-tone
  width:70px
  height:70px
  display:inline-block
  position:relative
  #pic-tone
    position:absolute
    z-index: 1;
    width: 70px;
    height: 70px; 
    opacity: 0;
  #tone-prev
    position:absolute
    width:70px
    height:70px
  #del-img-tone
    display:none
    opacity:0
    position:absolute
    z-index:2
    width:70px
