@font-face
    font-family: CenturyGothic
    src: local("CenturyGothic-Regular"),
         url('fonts/GOTHIC.TTF')
@font-face
    font-family: CenturyGothic-Bold
    src: local("CenturyGothic-Bold"),
         url('fonts/946379.ttf')

body
  font-family: CenturyGothic

.hide
  display:none

#admin-cont
  #admin-hello
    text-align:center
  .form-admin
    margin-top:10px
    display:none
    #add-dish-table
      tr
        height:31px

