@font-face
    font-family: CenturyGothic
    src: local("CenturyGothic"),
         url('fonts/GOTHIC.TTF')


body
  font-family: CenturyGothic

.header-fake
  position: absolute
  right: 0
  left: 0
  height: 45px
  background: #333333

.gradient
  position: absolute
  right: 0
  left: 0
  height: 8px
  background: url("../img/grad.png") -24px
  top: 230px



.container
  margin: 0 auto
  width: 980px

#header-top
  position: relative
  height: 45px
  z-index: 1000
  background: #333333
  ul.navigation
    li
      margin-left: 13px
      margin-top: 12px
      a
        color: #fff
        font-size: 16px
  #call-order-cont
    position: absolute
    right: 0
    top: 10px
    #call-order
    #phone-number
      display: inline-block
      vertical-align: middle
    #call-order
      width: 86px
      height: 17px
      background: #fff
      font-size: 9.5px
      text-align: center
      margin-right: 13px
      cursor: pointer
    #phone-number
      color: #fff
      font-size: 23px



ul.navigation
  padding: 0
  li
    display: inline-block
    list-style-type: none
    cursor: pointer
    a
      text-decoration: none

#header-bottom
  position: relative
  height: 155px
  #logo
    width: 381px
    height: 125px
    background: url('../img/logo.png') no-repeat
    margin-top: 5px
  #user-cont
    position: absolute
    right: 0
    top: 20px
    .options
      display: inline-block
      vertical-align: bottom
      cursor: pointer
      a
        display: block
        color: #000
        font-size: 10px
    .login
      height: 47px
      background: url('../img/input.png') no-repeat
      line-height: 116px
      margin-left: 25px;
    .stuff
      height: 39px
      background: url('../img/stuff.png') 7px no-repeat
      line-height: 99px
      margin-left: 39px;
    .busket
      height: 36px
      width: 52px
      background: url('../img/busket.png') no-repeat
      line-height: 95px
      margin-left: 24px;
      a
        padding-left: 9px
    #search-input
      display: block
      margin-top: 29px
      width: 196px
      height: 28px
      outline: none
      border: 2px solid #333333
      background: url('../img/search.png') no-repeat
      padding-left: 48px;
#navbar-my
  position: relative
  ul.navigation
    li
      margin-left: 19px
      a
        color: #333
        font-size: 19px


#myCarousel
  .carousel-indicators
    top: 310px
    li
      height: 16.5px
      width: 16.5px
      border-radius: 16.5px
      border: none
      background: rgba(0,0,0, 0.4)
      margin: 3px
    li.active
      height: 16.5px
      width: 16.5px
      border: none
      background: rgba(0,0,0, 0.7)
  .item
    width: 980px
    height: 300px
    img
      width: 100%
      height: 100%
  a.left
    background: url('../img/left.png') no-repeat 50% 50%
    left: -147px
  a.right
    background: url('../img/right.png') no-repeat 50% 50%
    right: -147px

