
input.parsley-error, textarea.parsley-error
  color: #B94A48 !important
  background-color: #F2DEDE !important
  border: 1px solid #EED3D7 !important

input.parsley-success, textarea.parsley-success
  color: #468847 !important
  background-color: #DFF0D8 !important
  border: 1px solid #D6E9C6 !important

.container-my
  min-width: 1250px;
  min-height: 400px;
  max-width: 1250px;
  margin: 0 auto;



#left-column
  border-right: 1px dashed #BBAD88;
  float: left;
  width: 240px;
  padding: 5px 5px 5px 0;
  display: inline-block;
  position:relative
  div#ul-cont
    padding: 1px;
    position: relative;
    z-index: 2;
    ul#ul-kitchrn
      width: 211px;
      margin-top: 35px;
      list-style: none

#right-column
  border-left: 1px dashed #BBAD88;
  float: right;
  width: 240px;
  padding: 5px 5px 5px 0;
  height:200px
  display: inline-block;
  position:relative
  div
    ul#ul-species
      width: 211px;
      margin-top: 35px;
      list-style: none
      .li-species
        cursor: pointer
        margin-top:10px

#center-column
  width: 700px;
  margin: 0 auto;


body
  margin: 0px;
  padding: 0px;


    
