@font-face
    font-family: CenturyGothic
    src: local("CenturyGothic-Regular"),
         url('fonts/GOTHIC.TTF')
@font-face
    font-family: CenturyGothic-Bold
    src: local("CenturyGothic-Bold"),
         url('fonts/946379.ttf')

@font-face
    font-family: CenturyGothic-Italic
    src: local("CenturyGothic-Italic"),
         url('fonts/GOTHICI.TTF')




body
  font-family: CenturyGothic


.prod
  margin-bottom: 12px
  width: 155px
  margin-right: 20px
  display: inline-block
  vertical-align: top
  position: relative
  text-align: center
  .title
    color: #231F20
    font-size: 12.5px
    width: 155px
    text-align: center
    font-family: CenturyGothic-Bold
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 32px;
  .descr
    color: #231F20
    font-size: 11px
    width: 155px
    height: 48px
    text-align: center
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  .old-price
     text-align: end
     width: 155px
     color: #333333
     font-size: 15px
     height: 18px
     text-decoration: line-through
     font-family: CenturyGothic-Bold
    span
      font-size: 10px
  .new-price
    color: #CC3333
    width: 155px
    text-align: end
    font-size: 31px
    font-family: CenturyGothic-Bold
    span
      font-size: 21px
  .in-basket
    width: 110px;
    height: 23px;
    background: #333;
    color: white;
    margin-top: 4px;
    font-size: 14.37px;
    line-height: 23px;
    text-align: middle;
    cursor: pointer;
    margin-left: 45px;


.header-fake
  position: absolute
  right: 0
  left: 0
  height: 45px
  background: #333333



.gradient
  position: absolute
  right: 0
  left: 0
  height: 8px
  background: url("../img/grad.png") -24px
  top: 255px


.container
  margin: 0 auto
  width: 980px

#header-top
  position: relative
  height: 45px
  z-index: 1000
  background: #333333
  ul.navigation
    li
      margin-left: 13px
      margin-top: 12px
      a
        color: #fff
        font-size: 16px
  #call-order-cont
    position: absolute
    right: 0
    top: 10px
    #call-order
    #phone-number
      display: inline-block
      vertical-align: middle
    #call-order
      width: 86px
      height: 17px
      background: #fff
      font-size: 9.5px
      text-align: center
      margin-right: 13px
      cursor: pointer
    #phone-number
      color: #fff
      font-size: 23px

#header-top-fixed
  display:none;
  position: fixed;
  height: 45px;
  z-index: 1000;
  background: #333;
  top: 0px;
  left:0px;
  right:0px;
  #vn-cont
    margin:0 auto;
    width:980px;
  ul.navigation
    display:inline-block
    margin-top: 0px;
    li
      margin-left: 13px
      margin-top: 12px
      a
        color: #fff
        font-size: 16px
  #call-order-cont
    display:inline-block
    float:right
    margin-top: 10px
    #call-order
    #phone-number
      display: inline-block
      vertical-align: middle
    #call-order
      width: 86px
      height: 17px
      background: #fff
      font-size: 9.5px
      text-align: center
      margin-right: 13px
      cursor: pointer
    #phone-number
      color: #fff
      font-size: 23px


ul.navigation
  padding: 0
  li
    display: inline-block
    list-style-type: none
    cursor: pointer
    a
      text-decoration: none

#header-bottom
  position: relative
  height: 148px
  #logo
    width: 381px
    height: 125px
    background: url('../img/logo.png') no-repeat
    margin-top: 5px
  #user-cont
    position: absolute
    right: 0
    top: 20px
    .options
      display: inline-block
      vertical-align: bottom
      cursor: pointer
      a
        height:30px
        display: block
        color: #000
        font-size: 10px
    .login
      height: 47px
      background: url('../img/input.png') no-repeat
      line-height: 116px
      margin-left: 25px;
    .stuff
      height: 39px
      background: url('../img/stuff.png') 7px no-repeat
      line-height: 99px
      margin-left: 39px;
    .busket
      height: 36px
      width: 52px
      background: url('../img/busket.png') no-repeat
      line-height: 95px
      margin-left: 24px;
      a
        padding-left: 9px
    #search-input
      display: block
      margin-top: 29px
      width: 196px
      height: 28px
      outline: none
      border: 2px solid #333333
      background: url('../img/search.png') no-repeat
      padding-left: 48px;
      position:relative
      z-index:10
    .log-menu
      position: absolute;
      top: -4px;
      left: -75px;
      display:none;
      .bord-log
        position: absolute
        background: url('../img/bord.png') no-repeat
        width: 70px
        height: 54px    
        top: 0px
        left: 80px;   
      .menu-body-log
        position: absolute
        background: url('../img/agraege.png') no-repeat
        width: 244px
        height: 154px
        top: 52px
        left: -7px
        z-index: 100 
        .title 
          position: absolute
          left: 92px
          font-size: 10px 
        .send
          position: absolute;
          width: 79px;
          height: 30px;
          background: url("../img/but.png") no-repeat;
          top: 110px;
          cursor: pointer;
          font-family: CenturyGothic-Bold;
          font-size: 9.51px;
          color: #fff;
          text-align: center;
          padding-top: 6px;
          left: 80px;
        #mail-pod
          position: absolute;
          left: 30px;
          top: 28px;
          display: block;
          margin-top: 29px;
          width: 174px;
          height: 28px;
          outline: none;
          border: 2px solid #333;
          padding-left: 9px;
          

    .fav-menu
      display:none
      position: absolute
      top: 0px
      left: 0px       
      .bord
        position: absolute
        background: url('../img/bord.png') no-repeat
        width: 70px
        height: 54px    
        top: 0px
        left: 80px;   
      .menu-body
        position: absolute
        background: url('../img/agraege.png') no-repeat
        width: 244px
        height: 154px
        top: 52px
        left: -7px
        z-index: 100  
        .title 
          position: absolute
          left: 92px
          font-size: 10px
        .line
          position: relative
          height: 42px
          margin-top: 7px
          img
            border: 1px solid black
            margin-left: 20px  
          .txt1
            position: absolute
            left: 66px
            top: 10px
            font-family: CenturyGothic-Bold
            font-size: 9px            
          .txt2
            position: absolute
            left: 66px
            top: 19px            
            font-size: 8px;
            width: 124px;  
            max-height: 20px
            overflow: hidden
          .bask 
            width: 10px
            height: 16px
            background: url('../img/bask.png') no-repeat
            position: absolute
            left: 211px
            top: 16px         
            cursor: pointer  
          .mini-line               
            width: 225px
            height: 3px 
            position: absolute      
            background: url('../img/mini-line.png') no-repeat   
            left: 9px
            top: 43px 
        .more
          margin-top: 6px
          margin-left: 66px  
          font-family: CenturyGothic-Bold
          font-size: 9px      
        .go-fav
        .go-bask 
          position: absolute
          width: 79px
          height: 30px 
          background: url('../img/but.png') no-repeat
          top: 118px  
          cursor: pointer
          font-family: CenturyGothic-Bold
          font-size: 9.51px
          color: white
          text-align: center
          padding-top: 2px             
        .go-fav
          left: 26px   
        .go-bask
          left: 140px 
                                    
#navbar-my
  position: relative
  ul.navigation
    li
      margin-left: 15px
      height: 26px
      position: relative
      a
        color: #000
        font-size: 17px
        padding-left: 6px
        padding-right: 6px
      .menu-cont
        position: absolute;
        z-index: 100;
        top: 25px;
        .col1
          display: inline-block
          vertical-align: top
          margin-left: 11px
          &:first-of-type
            margin-left: 18px
          ul.ul2
            margin-top: 35px
          ul
            display: block
            padding: 0px
            font-family: CenturyGothic-Bold
            font-size: 10px
            margin-top: 20px
            max-width: 127px
            li
              padding: 0px
              display: block
              margin: 0px
              font-family: CenturyGothic
              font-size: 10px
              height: 11px
              margin-top: 9px
    li.news
      background: #FFF7B0
    li.brands
      background: #F9D895
    li.face
      background: #ED987E
      .menu-cont
        width: 539px
        height: 238px
        background: #FFE2DC
        left: -203px
        border: 3px solid #ED987E
    li.body
      background: #E26082
      .menu-cont
        width: 482px
        height: 238px
        background: #FFE2DC
        left: -243px
        border: 3px solid #E26082
        ul
          max-width: 147px

    li.hair
      background: #9255A0
    li.make
      background: #46579E
      .menu-cont
        width: 418px
        height: 238px
        background: #C0CCED
        left: -170px
        border: 3px solid #46579E
        ul
          max-width: 147px

    li.acces
      background: #4F7D84
      .menu-cont
        width: 457px
        height: 238px
        background: #D3EBED
        left: -170px
        border: 3px solid #4F7D84
        ul.ul3
          margin-top: 115px
        ul.ul4
          margin-top: 70px
        ul
          max-width: 147px
          li.spec
            position: absolute
    li.mans
      background: #5A8740
      .menu-cont
        width: 316px
        height: 238px
        background: #DAF4C9
        left: -106px
        border: 3px solid #5A8740
        ul
          max-width: 141px
    li.sets
      background: #C0C685
      .menu-cont
        width: 136px
        height: 238px
        background: #F2F4C9
        left: -32px
        border: 3px solid #C0C685



#myCarousel
  .carousel-indicators
    top: 310px
    li
      height: 16.5px
      width: 16.5px
      border-radius: 16.5px
      border: none
      background: rgba(0,0,0, 0.4)
      margin: 3px
    li.active
      height: 16.5px
      width: 16.5px
      border: none
      background: rgba(0,0,0, 0.7)
  .item
    width: 980px
    height: 300px
    img
      width: 100%
      height: 100%
  a.left
    background: url('../img/left.png') no-repeat 50% 50%
    left: -147px
  a.right
    background: url('../img/right.png') no-repeat 50% 50%
    right: -147px



#myCarousel2
  .item
    width: 980px
    height: 310px
    text-align: start
    .prod
      width: 155px
      margin-left: 70px
      display: inline-block
      vertical-align: top
      position: relative
      text-align: center
      .title
        color: #231F20
        font-size: 12.5px
        width: 155px
        text-align: center
        font-family: CenturyGothic-Bold
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 32px;
      .descr
        color: #231F20
        font-size: 11px
        width: 155px
        height: 48px
        text-align: center
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      .old-price
         text-align: end
         width: 155px
         color: #333333
         font-size: 15px
         height: 18px
         text-decoration: line-through
         font-family: CenturyGothic-Bold
        span
          font-size: 10px
      .new-price
        color: #CC3333
        width: 155px
        text-align: end
        font-size: 31px
        font-family: CenturyGothic-Bold
        span
          font-size: 21px
      .in-basket
        width: 110px;
        height: 23px;
        background: #333;
        color: white;
        margin-top: 4px;
        font-size: 14.37px;
        line-height: 23px;
        text-align: middle;
        cursor: pointer;
        margin-left: 45px;
  a.left
    background: url('../img/left.png') no-repeat 50% 50%
    left: -147px
  a.right
    background: url('../img/right.png') no-repeat 50% 50%
    right: -147px

#myCarousel3
  margin-top: 40px
  .item
    width: 980px
    height: 150px
    .brand
      width: 134px
      height: 134px
      border: 1px solid black
      display: inline-block
      margin-left: 25px;
  a.left
    background: url('../img/left.png') no-repeat 50% 50%
    left: -147px
  a.right
    background: url('../img/right.png') no-repeat 50% 50%
    right: -147px



#myCarousel4
  .carousel-indicators
    top: 310px
    li
      height: 16.5px
      width: 16.5px
      border-radius: 16.5px
      border: none
      background: rgba(0,0,0, 0.4)
      margin: 3px
    li.active
      height: 16.5px
      width: 16.5px
      border: none
      background: rgba(0,0,0, 0.7)
  .item
    width: 980px
    height: 300px
    img
      width: 100%
      height: 100%
  a.left
    background: url('../img/left.png') no-repeat 50% 50%
    left: -147px
  a.right
    background: url('../img/right.png') no-repeat 50% 50%
    right: -147px

#dop-cont
  position: relative
  margin-top: 48px
  height: 247px
  span
    position: absolute
    font-size: 28px
    color: #000
  .sp1
    top: 0px
    left: 163px
  .sp2
    top: 54px
    left: 286px
  .sp3
    top: 143px
    left: 151px
  .line4
    width: 663px
    height: 2px
    top: 119px
    left: 129px
    background: url('../img/line4.png')

#advantage-cont
  margin-top: 73px
  .advantage
    display: inline-block
    vertical-align: top
    .text
      font-size: 14px
      color: #333333
      text-transform: uppercase
      text-align: center
  .advantage.quality
    margin-left: 12px
    .pict
      width: 86px
      height: 66px
      background: url('../img/pl1.png') no-repeat
      margin-top: 10px
    .text
      width: 86px
  .advantage.safety
    margin-left: 71px
    .pict
      width: 67px
      height: 61px
      background: url('../img/pl2.png') no-repeat
      margin-left: 28px
      margin-top: 7.5px
    .text
      margin-top: 13.5px
  .advantage.delivery
    margin-left: 47px
    .pict
      width: 110px
      height: 48px
      background: url('../img/pl3.png') no-repeat
      margin-top: 17px
    .text
      width: 125px
      margin-top: 11px
  .advantage.gifts
    margin-left: 68px
    .pict
      width: 54px
      height: 60px
      margin-left: 8px
      background: url('../img/pl4.png') no-repeat
      margin-top: 4px
    .text
      margin-top: 16px
  .advantage.easy-payment
    margin-left: 63.5px
    .pict
      width: 64px
      height: 66px
      background: url('../img/pl5.png') no-repeat
      margin-left: 38px
    .text
      width: 142px
      margin-top: 11.5px
  .advantage.back-guarantee
    margin-left: 31px
    .pict
      width: 74px
      height: 67px
      background: url('../img/pl6.png') no-repeat
      margin-left: 28px
      margin-top: 7px
    .text
      margin-top: 6.5px
.bestsellers-title
.novelty-title
.brands-title
.reviews-title
  margin-top: 70px
  text-align: center
  width: 100%
  font-size: 42px
  text-transform: uppercase
  color: #333333
  background: url('../img/line.png') -65px 27px no-repeat


.go-catalog
  width: 980px
  height: 37px
  margin-top: 30px
  text-align: end
  line-height: 37px
  a
    font-size: 21.91px
    text-transform: uppercase
    text-decoration: none
    color: #fff
    margin-right: 43px
    &:hover
      text-decoration: none
      color: #fff
.go-catalog.type2
  background: url('../img/go-catalog2.png')  no-repeat

.go-catalog.type1
  background: url('../img/go-catalog.png')  no-repeat

.free-delivery
  width: 980px
  height: 60px
  background: url('../img/free-del.png')  no-repeat
  text-align: center
  text-transform: uppercase
  margin-top: 54px
  color: #333
  font-size: 22px
  font-family: CenturyGothic-Bold

.discount-cont
    height: 131px
    background: #FBFBFB
    input
      width: 195px
      height: 29px
      border: 1px solid #000
      outline: none
      padding-left: 10px
    .name
        margin-left: 71px
        margin-top: 72px
    .email
        margin-left: 48px
        margin-top: 72px
    a.discount
        margin-left: 48px
        margin-top: 74px
        font-size: 33.15px
        font-family: CenturyGothic-Bold
        color: #9E1F63
        text-transform: uppercase
        text-decoration: underline

.novelty-left
.novelty-right
  display: inline-block
  vertical-align: top
  width: 50%
.novelty-left
  img
    margin-left: 70px
    margin-top: 30px
.novelty-right
  .title
    margin-left: 74px
    margin-top: 67px
    color: #C1689D
    font-size: 26px
    text-align: center
  .descr
    margin-left: 190px
    text-align: end
    margin-top: 21px
    font-size: 15px
  .price
    margin-left: 170px
    margin-top: 37px
    font-size: 52.73px
    font-family: CenturyGothic-Bold
    color: #CE1111
  .detail
  .buy
    display: inline-block
    vertical-align: middle
    height: 35px
    background: #231F20
    font-size: 24px
    text-transform: uppercase
    color: #fff
    cursor: pointer
    text-align: center
    margin-top: 20px
  .detail
    width: 176px
    margin-left: 70px
  .buy
    width: 137px
    margin-left: 48px

#footer-cont
  position: relative
  height: 270px
  background: #231F20
  .stolb1
    margin-left: 14px
  .stolb2
    margin-left: 160px
  .stolb3
    margin-left: 50px
  .stolb4
    margin-left: 36px
  .stolb
    display: inline-block
    vertical-align: top
    margin-top: 36px
    .title
      font-size: 16px
      color: #fff
    .link
      color: #fff
      font-size: 14px
      display: block
     a.link
      margin-top: 20px
  .way-payment
    position: absolute
    top: 170px
    left: 14px
    .title
      font-size: 16px
      color: #fff
      margin-bottom: 15px;
    .way
      margin-left: 14px
  .share-cont
    position: absolute
    top: 141px
    right: 84px
    .share1
      .odn
        margin-right: 10px
        margin-left: 10px
    .share2
      margin-top: 15px
      .fb
        margin-right: 10px
        margin-left: 10px

.for-afisha
  width: 100%
  height: 104px
.left-side
.right-side
  display: inline-block
  vertical-align: top
.left-side
  width: 205px
  .switch.cat
    background: url("../img/cat-act.png") 0px no-repeat;
  .switch.brands
    background: url("../img/brand-act.png") 0px no-repeat;
  .switch.prom
    background: url("../img/prom-act.png") 0px no-repeat;
  .switch
    width: 204px
    height: 28px
    div
      height: 21px
      display: inline-block
      vertical-align: middle
      font-size: 15px
      text-align: center
      font-family: CenturyGothic-Bold
      cursor: pointer
      &:hover
        background: rgba(0,0,20,0.22)
      a
        color: rgba(0,0,20,0.6)
    .brands
      width: 70px
    .catalog
        width: 75px
    .promotions
        width: 58px
     .active
        a
          color: #333333

  select.nav
    width: 203px
    height: 23px
    border: 1px solid #333333
    margin-top: 5px
    outline: none;
    -webkit-appearance: none;
    background: url("../img/select.png") 8px no-repeat #fff;
    line-height: 17px;
    padding-left: 32px;
    margin-bottom: 10px;
  .types
    max-height: 372px
    overflow-y: auto
    ul.type-product
      *
        cursor:pointer
      padding-left: 0px
      font-size: 10px
      color: #333
      li
        list-style-type: none
        padding-left: 40px
        margin-top: 9px
  ul.select-params
    padding-left: 0px
    font-size: 15px
    font-family: CenturyGothic-Bold
    color: #333
    background: url("../img/a.png") 75px 8px no-repeat #fff;
    li
      list-style-type: none
      padding-left: 40px
      margin-top: 9px
      font-size: 10px
      font-family: CenturyGothic
      background: url("../img/check-false.png") 21px 4px no-repeat #fff;
      cursor: pointer
    li[ischecked="true"]
      background: url("../img/check-true.png") 21px 4px no-repeat #fff;
  ul.select-params.brands
    li
      padding-left: 117px
      background: url("../img/check-false.png") 98px 4px no-repeat #fff;
    li[ischecked="true"]
      background: url("../img/check-true.png") 98px 4px no-repeat #fff;


.right-side
  margin-left: 50px
  .brand-info
    text-align: justify
    font-size: 17px
    color: #231F20
    width: 718px
    p
      text-indent: 40px
  .filter-block
    margin-bottom: 30px
    .select-price-cont
    .search-product
    .sort-cont
      display: inline-block
      vertical-align: middle
    .select-price-cont
      position: relative
      .title
        color: #333
        font-family: CenturyGothic-Bold
        font-size: 15px
      #slider-price
        width: 137px
        height: 4px
        background: none
        border-radius: 0
        border: none
        outline: none
        margin-top: 15px
        .ui-widget-header
          background: none
        .ui-state-default
          width: 9px
          height: 6px
          border: none
          outline: none
          background: url("../img/slider-arr.png") no-repeat
          top: -8px
          margin-left: 0px
      #slider-price-fake
        width: 148px
        height: 4px
        position: absolute
        background: #333
        top: 33px;
      input
        border: 1px solid #333
        outline: none
        width: 30px
        height: 11px
        font-size: 10px
        color: #333
        margin-left: 5px
      label
        font-size: 12px
        color: #333
      label.max-price-label
        margin-left: 42px
    .search-product
        border: 2px solid #333
        outline: none
        width: 154px
        height: 22px
        margin-left: 113px
        background: url("../img/search2.png") -1px -1px no-repeat
        padding-left: 37px;
    .sort-cont
      text-align: right
      margin-left: 123px
      .title
        color: #333
        font-family: CenturyGothic-Bold
        font-size: 15px
      .sort-product
        width: 140px
        height: 23px
        outline: none;
        -webkit-appearance: none;
        background: url("../img/select.png") 8px no-repeat #fff;
        border 1px solid #333
        padding-left: 31px
        font-size: 11px
        margin-top: 10px
  .res-search
    width:715px
    .prod
      margin-bottom: 12px
      width: 155px
      margin-right: 20px
      display: inline-block
      vertical-align: top
      position: relative
      text-align: center
      .title
        color: #231F20
        font-size: 12.5px
        width: 155px
        text-align: center
        font-family: CenturyGothic-Bold
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 32px;
      .descr
        color: #231F20
        font-size: 11px
        width: 155px
        height: 48px
        text-align: center
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      .old-price
         text-align: end
         width: 155px
         color: #333333
         font-size: 15px
         height: 18px
         text-decoration: line-through
         font-family: CenturyGothic-Bold
        span
          font-size: 10px
      .new-price
        color: #CC3333
        width: 155px
        text-align: end
        font-size: 31px
        font-family: CenturyGothic-Bold
        span
          font-size: 21px
      .in-basket
        width: 110px;
        height: 23px;
        background: #333;
        color: white;
        margin-top: 4px;
        font-size: 14.37px;
        line-height: 23px;
        text-align: middle;
        cursor: pointer;
        margin-left: 45px;
#product-page
  position: relative
  .catalog
    font-size: 15px
    font-family: CenturyGothic-Bold
    margin-top: 40px
    margin-left: 2px
    color: #333
    background:  url("../img/a.png") 70px no-repeat #fff;
  .product-cont
    margin-top: 30px
    .left
    .right
      display: inline-block
      vertical-align: top
    .product-label
        display: inline-block
        font-family: CenturyGothic-Bold
        font-size: 16px
        color: #333
        vertical-align: middle
        margin-top: 20px
    .left
      width: 40%
      .product-img
        margin-top: 23px
        margin-left: 31px

    .right
      width: 60%
      .title
        font-size: 23px
        font-family: CenturyGothic-Bold
        height: 32px
        color: #333
      .short-descr
        margin-top: 6px
        font-size: 16px
        width: 300px
        height: 71px
        color: #333
      .ob
      .weight
      .id
        display: inline-block
        font-family: CenturyGothic-Bold
        font-size: 16px
        color: #333
        vertical-align: middle
        margin-top: 20px
      .ob
      .weight
        margin-left: 26px
      .weight-lab
        margin-left: 43px
      select.ton
      select.sclad
        height: 16px
        border: 1px solid #333333
        outline: none;
        -webkit-appearance: none;
        background: url("../img/select2.png") 8px no-repeat #fff;
        padding-left: 25px;
        vertical-align: middle
        font-size: 9px
        margin-top: 24px
      select.ton
        margin-left: 26px
        width: 206px
      select.sclad
        margin-left: 43px
        width: 51px
      .id
        margin-left: 19px
      .buy-fast
      .in-basket
        display: inline-block
        height: 23px
        background: #333
        line-height: 23px
        text-align: center
        font-size: 14.78px
        color: #fff
        text-transform: uppercase
        margin-top: 10px
        cursor: pointer
      .buy-fast
        width: 147px
      .in-basket
         width: 113px
         margin-left: 30px
      .favorites
        margin-top: 28px
        height: 25px
        line-height: 25px
        background: url("../img/favorites.png")  no-repeat #fff;
        padding-left: 33px;
        cursor: pointer
        font-size: 13px
        color: #000
      .price-lab
      .old-price
      .new-price
        display: inline-block
        vertical-align: bottom
      .price-lab
        margin-left: 30px
      .old-price
        font-family: CenturyGothic-Bold
        font-size: 21px
        text-decoration: line-through
        color: #333
        margin-left: 28px
        span
          font-size: 13px
      .new-price
        font-family: CenturyGothic-Bold
        font-size: 34px
        color: #CC3333
        margin-left: 33px
        span
          font-size: 20px
    #adv1-block
      position: absolute
      top: 218px
      right: 0
      div
        width: 142px
        text-align: center
      .f1
        font-size: 11.41px
      .f2
        font-size: 13.67px
      .f3
        font-size: 11.14px
      .f4
      .f5
        font-size: 11px
      .line
        width: 142px
        height: 2px
        background: url("../img/line2.png")  no-repeat;
    #adv2-block
      position: absolute
      top: 335px
      right: 0
      width: 118px
      height: 118px
      border: 1.5px solid #333
      .f1
        font-size: 14px
        margin-left: 12px
        margin-top: 14px
        color: #333
      .f2
        font-size: 15px
        position: absolute
        width: 130px
        height: 44px
        background: url("../img/dar.png")  no-repeat;
        line-height: 57px;
        padding-left: 12px;
        color: #fff
      .f3
        font-size: 11px
        margin-left: 2px
        margin-top: 55px
        color: #333
    .description
    .application
      width: 800px
      font-size: 15px
      padding-top: 10px
      p
        text-indent: 20px
        -webkit-margin-before: 0
        -webkit-margin-after: 0
    .link1
    .link2
      width: 297px
      height: 41px
      display: inline-block
      text-align: center
      color: #333
      font-family: CenturyGothic-Bold
      background: rgba(255,51,153, 0.1)
      cursor: pointer
      margin-top: 60px
    .link2
      margin-left: 166px
    .ill-top
      border: 1px solid red
      width: 800px
      height: 160px
      margin-top: 24px
      margin-bottom: 24px

#brands-picture
  width: 980px
  height: 170px
  border: 1px solid #000
  margin-bottom: 15px


#footer-bg
  background: #231F20
  height: 329px;
  margin-top:40px
  #footer-cont
    margin: 0 auto;
    width:980px

#promotions-page
  #promotions-picture
    width: 980px
    height: 300px
    border: 1px solid #000
    margin-bottom: 15px
  ul.promotions
    list-style-type: none
    padding: 0
    li
      margin-bottom:10px
      img.prom
        cursor:pointer
        width: 190px
        height: 130px
        border: 1px solid #000

#news-page
  .title
    width: 980px
    background: url("../img/grad2.png") 0px 33px  no-repeat
    height: 36px
    font-size: 27.02px
  .news
    margin-top: 30px;
    div
      vertical-align: top
      display: inline-block
      width: 50%

    .left
      text-align: start
    .right
      text-align: end
    .text
      h2
        font-size: 18px
        width: 480px
      h3
        font-size: 15px
        width: 480px
        text-align: justify
    .pic
      img
        border: 1px solid #000

.active-type
  color:black !important
  font-weight: bolder
  text-decoration: underline

.menu-cont
  display:none
  
.col1 
  ul
    li:hover
      text-decoration:underline
      
.sub-title:hover
   text-decoration:underline

.cabinet-cont
  .left
    display: inline-block
    vertical-align: top
    width: 305px
    .menu
      margin-left: 78px
      margin-top: 55px
      height: 200px
      ul
        list-style-type: none
        padding: 0      
        li
          width: 177px
          height: 35px
          border: 1px solid #333333
          background: #333333
          color: white
          text-align: center
          line-height: 35px
          margin-bottom: 7px
          font-size: 21px
          cursor: pointer
        li.active
          background: white
          color: #333333       
  .right
    display: inline-block
    vertical-align: top
    .user-form
      margin-left: 47px
      margin-top: 60px
      .str
        margin-bottom: 11px
        div
          display: inline-block
          vertical-align: top
        .label
          font-family: CenturyGothic-Bold
          font-size: 21px
          color: #000 
          width: 224px 
        .load 
          width: 113px
          height: 30px
          text-align: center
          line-height: 30px 
          font-size: 19px      
          border: 1px solid #231F20
          background: #E6E7E8
          color: #000
          cursor: pointer 
        input[type=text]
          height: 30px
          border: 1px solid #231F20 
          outline: none
          padding-left: 10px
        input.name
          width: 182px
        input.town
          width: 228px          
        input.vk
          width: 146px
          margin-left: 10px           
        select
          height: 30px
          border: 1px solid #231F20 
          outline: none          
          -webkit-appearance: none
          background: url("../img/select-userform.png")  no-repeat #fff
        select.gender
          width: 121px 
          background-position: 109px 50%
        select.day               
          width: 35px 
          background-position: 23px 50%
        select.month               
          width: 120px 
          background-position: 108px 50% 
          margin-left: 6px  
        select.year               
          width: 62px 
          background-position: 50px 50% 
          margin-left: 6px 
        .text-vk  
          font-size: 17px
          color: #000   
        textarea.about-me
          height: 167px
          width: 228px   
          max-width: 228px
          border: 1px solid #231F20 
          outline: none
          padding-left: 10px
    .agree
      margin-left: 73px 
      margin-top: 40px 
      height: 45px
      width: 193px        
      text-align: center
      line-height: 45px 
      font-size: 25px      
      font-family: CenturyGothic-Bold
      border: 1px solid #231F20
      background: #D1D3D4
      color: #231F20
      cursor: pointer 
      &:hover
        text-decoration: underline        
  .adv-div
    width: 980px
    height: 200px
    margin-top: 66px 
    background: url("../img/adv1.png")  no-repeat 
    position: relative
    .txt1  
      width: 980px
      height: 95px 
      
      position: absolute
      top: 22px 
      text-align: center          
      font-size: 34px      
      font-family: CenturyGothic-Bold 
      color: #ffffff 
      background: rgba(35, 31, 32, 0.5)    
    .txt2   
      width: 289px
      height: 60px 
      position: absolute
      top: 129px 
      left: 343px
      text-align: center          
      font-size: 32px      
      font-family: CenturyGothic-Bold 
      line-height: 60px 
      color: #ffffff 
      background: url("../img/uzn-bol.png")  no-repeat 
      cursor: pointer    
      &:hover
        text-decoration: underline    
.cabinet-cont.favorites     
  .right  
    .product-cont     
       margin-top: 54px
       margin-left: 65px
       width: 595px
       .prod
         margin-right: 35px
         margin-bottom: 40px
  .adv-div 
    background: url("../img/adv2.png")  no-repeat        
    .txt1  
      line-height: 95px   
          
.cabinet-cont.reviews     
  .right
    .reviews-cont
       margin-top: 54px
       margin-left: 23px   
       .review
         width: 564px
         height: 104px 
         margin-bottom: 19px  
         background: url("../img/rew-phone.png")  no-repeat  
         position: relative
         .date
            position: absolute 
            top: 6px
            left: 27px 
            font-size: 13px      
            color: #231F20             
         .title
            position: absolute  
            top: 4px
            left: 120px  
            font-size: 13px      
            color: #231F20 
         .line  
            position: absolute  
            top: 22px
            left: 0px  
            width: 563px
            height: 3px             
            background: url("../img/line5.png")  no-repeat
          img
            position: absolute  
            top: 28px
            left: 17px  
            border: 1px solid red
          .text  
            position: absolute  
            top: 38px
            left: 108px  
            width: 450px
            height: 56px  
            font-size: 15px      
            color: #231F20            
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis; 
          a.go-rew
            position: absolute  
            top: 4px
            left: 432px    
            font-size: 13px      
            color: #DA1C5C  
  .adv-div 
    background: url("../img/adv3.png")  no-repeat     
    
    
.cabinet-cont.stockpiling         
  .right
    .balance-cont     
      margin-top: 54px
      margin-left: 7px  
      width: 564px
      height: 159px
      background: url("../img/balance-phone.png")  no-repeat
      position: relative 
      .label
        position: absolute  
        top: 26px
        left: 290px    
        font-size: 24px      
        color: #000000  
      .balance         
        position: absolute  
        top: 87px
        left: 460px    
        font-size: 37px      
        color: #000000 
        font-family: CenturyGothic-Bold  
    .link    
      margin-top: 20px  
      margin-left: 10px 
      font-size: 24px 
      display: block  
      color: #000000  
  .podrobnee
      margin-top: 53px
      width: 980px
      height: 37px    
      background: url("../img/go-catalog.png")  no-repeat 
      text-align: right
      line-height: 37px 
      span
        font-size: 21.91px 
        margin-right: 15px
        color: #ffffff        
           
.cabinet-cont.un-favorites
  .product-cont 
    width: 892px
    padding-left: 88px  
    .prod        
      margin-bottom: 20px
      margin-right: 50px
  .for-user-cont
    margin-top: 70px
    width: 980px
    height: 401px
    background: url("../img/adv4.png")  no-repeat
    position: relative
    .txt1
    .txt2
    .txt3
      position: absolute
      font-family: CenturyGothic-Bold
      color: #fff
    .txt1
      font-size: 39px
      top: 37px
      left: 50%
      width: 324px
      margin-left: -162px
    .txt2
      font-size: 39px
      top: 110px
      left: 50%
      width: 20px
      margin-left: -10px
    .txt3      
      font-size: 43px
      top: 180px
      left: 50%
      width: 946px
      margin-left: -473px 
      text-align: center 
    input
      position: absolute
      width: 310px
      height: 52px
      border: 1px solid #A7A9AC
      outline: none
      padding-left: 10px
      top: 90px
    .inp1
      left: 70px
    .inp2
      left: 595px
    .podr
      position: absolute 
      width: 380px
      height: 78px                  
      top: 301px
      left: 300px      
      text-align: center          
      font-size: 42px      
      font-family: CenturyGothic-Bold 
      line-height: 78px 
      color: #ffffff 
      background: url("../img/podr.png")  no-repeat 
      cursor: pointer    
      &:hover
        text-decoration: underline    
           
.lending-cont
  .header
    width: 980px
    height: 113px
    background: #58595B
    position: relative
    .menu
      padding-top: 15px  
      margin-left: 12px
      .item
        display: inline-block
        vertical-align: top
        width: 120px
        height: 78px  
        margin-right: 20px
        font-family: CenturyGothic-Italic
        font-size: 14px
        text-align: center
        background: #fff
        line-height: 78px
        cursor:pointer
        &:first-of-type
          line-height: 18px
          padding-top: 10px
          height: 68px
        &:hover  
          text-decoration: underline    
    .call-cont
      position: absolute          
      width: 293px
      height: 106px
      top: 0px
      left: 687px       
      background: url("../img/call.png")  no-repeat
      .num 
        position: absolute
        top: 11px
        left: 56px  
        font-size: 27px  
        color: #fff       
      .label 
        position: absolute
        top: 39px
        left: 60px  
        font-size: 12px  
        color: #fff
      .order-call 
        position: absolute
        top: 61px
        left: 55px  
        width: 192px
        height: 23px
        font-size: 13px  
        text-align: center
        background: #fff
        line-height: 23px
        cursor:pointer
  .adv-cont1
    width: 980px
    height: 612px   
    background: url("../img/adv5.png") 370px -1px no-repeat    
    position: relative  
    .txt
      position: absolute
    .txt1
      top: 240px
      left: 68px   
      font-size: 36px  
      font-family: CenturyGothic-Bold
    .txt2
      top: 314px
      left: 72px   
      font-size: 36px 
      span 
        font-family: CenturyGothic-Bold     
    .txt3
      top: 356px
      left: 73px   
      font-size: 36px  
      font-family: CenturyGothic-Bold        
    .txt4
      top: 414px
      left: 214px   
      font-size: 36px  
      font-family: CenturyGothic-Bold         
        
                               
