extends ../../layout


block content
  include ../../navigation
  != js('admin/brends')
  != css('admin')
  #admin-cont
    include admin-nav
    
    #brend-form
      table#brend-table(style="display:inline-block")
        tr
          td Ведите название бренда&nbsp
          td
            input#brend-name
            
        tr
          td Описание бренда&nbsp
          td
            div(style="width:600px")#brendDescCont
              textarea.textarea-add-m3.brend-desc
            button#addDescStep Добавить шаг описания
        tr
          td Активный&nbsp
          td
            input#active(type="checkbox")
            
        tr
          td Изображение&nbsp
          td
            div.small-cont-ck
              input#img-breng.small-inp-ck(type="file")
              img#prev-brend.small-prev-ck(src="/img/add-bg.png")
              img#img-prev-close.small-del-ck(src="/img/close.png")
            
        tr
          td Логотип&nbsp
          td
            div.small-cont-ck
              input#logo-breng.small.small-inp-ck(type="file")
              img#logo-img-breng.small-prev-ck(src="/img/add-bg.png")
              img#logo-prev-close.small-del-ck(src="/img/close.png")
            
        tr
          td
            button#add-brend Добавить&nbsp
          td#success-brend.hide
            span &nbsp Бренд успешно добавлен

